shoppingERD.jpg filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
RPA filter=lfs diff=lfs merge=lfs -text
project filter=lfs diff=lfs merge=lfs -text
python filter=lfs diff=lfs merge=lfs -text
